<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/_head'); %>
    <title>TinyApp</title>
  </head>
  <body>
    <%- include('./partials/_header'); %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">
          Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a>
        </p>
      </div>
      <div class="card-footer text-muted">
        <h2>Edit</h2>
        <form method="POST" action="/urls/<%= shortURL %>">
          <div class="row">
            <div class="col">
              <label for="newURL">New Url</label>
            </div>
            <div class="col">
              <input
                id="newURL"
                type="text"
                class="form-control"
                placeholder="http://"
                name="newURL"
              />
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary mb-2">Update</button>
            </div>
          </div>
        </form>
        <a href="/urls/new">Create new URL</a>
      </div>
    </div>
  </body>
</html>
